body { background-color: #99ffff; text-align:center; }

* { font-family: sans-serif; }
pre { font-family: monospace; }

h1 { font-variant: small-caps; color: #c0f; margin:0pt; padding:0pt; }
h2 { font-variant: small-caps; color: #c3f; margin:0pt; padding:0pt; 
     font-weight:normal;}
span { font-variant: small-caps; color: #c3f; margin:0pt; padding:0pt; 
     font-weight:normal; font-size: 30pt;}
table { margin:0pt; padding:0pt; border:0pt; }
tr { margin:0pt; padding:0pt; border:none; }
td { margin:0pt; padding:0pt; border:none; }

.titlebar { font-size:30pt; border: 1pt solid #c3f;
            background-color: #6ff;
            padding:3pt; padding-left : 10pt;
            border-radius: 7pt 7pt 7pt 7pt;
            box-shadow: 1pt 1pt 3pt #555;
}

.itemheader { font-size:40pt; font-weight:normal;
    margin-left:5pt; margin-top:20pt; }

.button { 
    background:#cff; border: 1px solid #c3f; 
    padding:20pt; margin: 0pt;
    border-radius: 15pt 15pt 15pt 15pt;
    box-shadow: 5pt 5pt 5pt #888;
    text-decoration:none; 
    font:50pt sans-serif; font-variant: small-caps;
    color:#c3f; }
